<app-setting-header title="Pin"></app-setting-header>

<ion-content >

  <ion-img src="../../../assets/img-clean/pin.svg" class="animIcon iconSettings" style="transform:scale(.5)" ></ion-img>

</ion-content>

<ion-content>

  <ion-button>Nuevo pin</ion-button>
  <ion-button>Cambiar pin</ion-button>

  <ion-list>

    <ion-item>
      <ion-input placeholder="Nuevo pin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Confirmar pin"></ion-input>
    </ion-item>
    

  </ion-list>

</ion-content>
