<app-setting-header title="Pin"></app-setting-header>

<ion-content >

  <ion-img src="../../../assets/img-clean/pin.svg" class="animIcon iconSettings" style="transform:scale(.5)" ></ion-img>


  <br>
  <ion-button (click)="showAddPin()" [disabled]="existLock" expand="block"  size="small" mode="ios">Nuevo pin</ion-button>
  <ion-button [disabled]="!existLock" expand="block"  size="small" mode="ios">Cambiar pin</ion-button>
  <ion-button [disabled]="!existLock" expand="block"  size="small" mode="ios">Eliminar pin</ion-button>
  <br>
 

  <ion-list color="light" *ngIf="!existLock &&  showPin" class="show__add__pin {{hideForm}}" [formGroup]="formGroups">
    
    <ion-item color="light">
      <ion-icon color="dark" slot="start" name="sync"></ion-icon>
      <ion-input type="email" placeholder="Email de recuperación"  formControlName="email"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-icon color="dark" slot="start" name="lock-closed"></ion-icon>
      <ion-input type="password" placeholder="Nuevo pin" formControlName="pin"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-icon color="dark" slot="start" name="lock-closed"></ion-icon>
      <ion-input type="password" placeholder="Confirmar pin" formControlName="pinConfirm"></ion-input>
    </ion-item>
    <br>
    <ion-button color="tertiary"
    [disabled]="!formGroups.controls.email.valid || !formGroups.controls.pin.valid || !formGroups.controls.pinConfirm.valid"
    expand="block" (click)="addPin()">Agregar pin</ion-button>


  </ion-list>

</ion-content>

 
