<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar >
    <ion-title> {{ openLock.text }} </ion-title>
  </ion-toolbar>
</ion-header >
 
<ion-content >

  <br> 

  <!-- img lock -->
  <ion-img class="showImage" style="height: 100px;" src="../../assets/icon/favicon.png"></ion-img>
 
  <br>
 
 <section class="pins" *ngIf="!openLock.on">

    <ion-button  disabled  color="light" > {{ pinOne}}</ion-button>
    <ion-button  disabled  color="light">{{ pinTwo}}</ion-button>
    <ion-button  disabled  color="light">{{ pinThre}}</ion-button>
    <ion-button  disabled  color="light">{{pinFour }}</ion-button>
 </section>

 <br><br>
 <div class="gridButtonPin" *ngIf="!openLock.on">
  <ion-button mode="ios" (click)="one($event)" color="light">1</ion-button>
  <ion-button mode="ios" (click)="two($event)" color="light">2</ion-button>
  <ion-button mode="ios" (click)="thre($event)" color="light">3</ion-button>
  <ion-button mode="ios" (click)="four($event)" color="light">4</ion-button>
  <ion-button mode="ios" (click)="five($event)" color="light">5</ion-button>
  <ion-button mode="ios" (click)="six($event)" color="light">6</ion-button>
  <ion-button mode="ios" (click)="seven($event)" color="light">7</ion-button>
  <ion-button mode="ios" (click)="eight($event)" color="light">8</ion-button>
  <ion-button mode="ios" (click)="nine($event)" color="light">9</ion-button>
  <ion-button  mode="ios" (click)="resetPin()" color="light"><ion-icon  name="backspace-outline"></ion-icon></ion-button>
  <ion-button mode="ios" (click)="zero($event)"  color="light">0</ion-button>
  
  <ion-button mode="ios" color="light"  (click)="recoveredSheet()">
    <ion-icon name="settings-outline"></ion-icon>
  </ion-button>
  
</div>


 
 <ion-toolbar style="text-align:center" *ngIf="openLock.on" mode="ios" color="tertiary" >
   <ion-button expand="block" color="primary" routerLink="/home/notes">Continuar
  <ion-ripple-effect></ion-ripple-effect>
</ion-button>
 </ion-toolbar>
 
   
</ion-content>