<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
       <ion-icon slot="icon-only"  routerLink="/home/notes" name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title>Setting</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content color="tertiary" mode="ios" >

  <ion-img class="animIcon iconSettings"   src="../../../assets/img-clean/config.svg"></ion-img>
  
  <ion-list color="tertiary" >
 

    <ion-item *ngFor="let conf of configs" detail color="tertiary" [routerLink]="conf.router" mode="md"> 
      <ion-icon slot="start" [name]="conf.icon"></ion-icon> 
      <ion-label class="fadeIn"> {{conf.name}}
       <p>{{conf.subname}}</p>
      </ion-label> 
    </ion-item>

    <ion-item *ngFor="let conf of configsClick" detail color="tertiary"  (click)="conf.func" mode="md"> 
      <ion-icon slot="start" [name]="conf.icon"></ion-icon> 
      <ion-label class="fadeIn"> {{conf.name}}
       <p>{{conf.subname}}</p>
      </ion-label> 
    </ion-item>


  </ion-list>

</ion-content>