<ion-header class="ion-no-border" color="tertiary" mode="ios">
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" (click)="closeModal()"   name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title>Categorías</ion-title>
 

  </ion-toolbar>

  <ion-toolbar color="tertiary">
    
    <ion-input #data   color="light" mode="md" placeholder="Nueva categoría"></ion-input>
    <ion-buttons mode="md" slot="end">
      <ion-button (click)="add(data.value)" >
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>

    <ion-item *ngFor="let cat of categories; let index=index" (click)="removeCateg(index)">
      <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
      <ion-label>{{cat.name}}</ion-label>
      <ion-buttons  >
        <ion-button slot="end" >
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

  </ion-list>
</ion-content>