<ion-list >
    <ion-list-header>
      <strong>Model</strong>
    </ion-list-header>

    <ion-item >
      <ion-icon slot="start" name="ellipsis-horizontal"></ion-icon>
      <ion-note slot="end" color="primary"> {{ MODEL}} </ion-note>
    </ion-item>

    <ion-list-header>
    <strong>Platform</strong>
  </ion-list-header>
  
  <ion-item >
    <ion-icon slot="start" name="ellipsis-horizontal"></ion-icon>
    <ion-note slot="end" color="primary"> {{ PLATFORM}} </ion-note>
  </ion-item>

  <ion-list-header>
    <strong>UUID</strong>
  </ion-list-header>

  <ion-item >
    <ion-icon slot="start" name="ellipsis-horizontal"></ion-icon> 
    <ion-note slot="end" color="primary"> {{ UUID}} </ion-note>
  </ion-item>

  <ion-list-header>
  <strong>Version</strong>
  </ion-list-header>

  <ion-item >
    <ion-icon slot="start" name="ellipsis-horizontal"></ion-icon>
    <ion-note slot="end" color="primary"> {{ VERSION}} </ion-note>
  </ion-item>

  <ion-list-header>
  <strong>Manufacturer</strong>
  </ion-list-header>

  <ion-item >
  <ion-icon slot="start" name="ellipsis-horizontal"></ion-icon> 
  <ion-note slot="end" color="primary"> {{ MANUFACTURER}} </ion-note>
  </ion-item>

  <ion-list-header>
  <strong>Serial</strong>
  </ion-list-header>

  <ion-item>
  <ion-icon slot="start" name="ellipsis-horizontal"></ion-icon>
  <ion-note slot="end" color="primary"> {{ SERIAL}} </ion-note>
  </ion-item>
  


</ion-list>