<ion-menu  type="overlay" contentId="menu" menuId="menu" color="tertiary">

  <ion-header class="ion-no-border" color="tertiary">
    <ion-toolbar   color="tertiary">
      <ion-img src="../assets/img-clean/config.svg" class="animIcon iconSettings" style="transform:scale(.5)" ></ion-img>
    </ion-toolbar>
  </ion-header>
 
  <ion-content class="animIcon">
  
 
    
    <ion-list  >

      <ion-item  > 
  
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label class="fadeIn"> Tema 
          <p>Dark, Light</p>
        </ion-label> 
        <ion-toggle mode="ios" color="success"></ion-toggle>
  
      </ion-item>
  
      <ion-item  (click)="closeMenu()" routerLink="/home/notes" mode="md"> 
        <ion-badge slot="end" color="success">{{ 1 }}</ion-badge>
        <ion-icon slot="start" name="book-outline"></ion-icon> 
        <ion-label class="fadeIn"> Notas
         <p>Todas las notas</p>
        </ion-label> 
      </ion-item>

        
      <ion-item (click)="closeMenu()" routerLink="/home/settings/trash" mode="md"> 
        <ion-badge slot="end" color="danger">{{ numTrash }}</ion-badge>
        <ion-icon slot="start" name="trash"></ion-icon> 
        <ion-label class="fadeIn"> Papelera
         <p>Notas eliminadas</p>
        </ion-label> 
      </ion-item>

  
      <ion-item detail (click)="closeMenu()" routerLink="/home/settings/lock" mode="md"> 
        <ion-icon slot="start" name="lock-closed"></ion-icon> 
        <ion-label class="fadeIn"> Pin
         <p>Agregar, Eliminar</p>
        </ion-label> 
      </ion-item>
  
  
      <ion-item detail (click)="closeMenu()" routerLink="/home/settings/analize" mode="md">   
        <ion-icon slot="start" name="speedometer"></ion-icon>
        <ion-label class="fadeIn"> 
          Vacear notas
          <p >Analizar, Vacear papelera </p>
         </ion-label> 
      </ion-item> 
  
  
      <ion-item detail (click)="closeMenu()" routerLink="/home/settings/notification" mode="md">
        <ion-icon name="notifications" slot="start" ></ion-icon>
        <ion-label class="fadeIn"> 
          Notificación
          <p>Activar, Preferencias de notificaciones</p>
         </ion-label>
         <ion-buttons slot="end">
          <ion-label color="light">Activada</ion-label> 
         </ion-buttons> 
      </ion-item> 
  
  
      <ion-item detail  (click)="closeMenu()" routerLink="/home/settings/plan" mode="md">
        <ion-icon color="warning" slot="start" name="flash"></ion-icon>
        <ion-label class="fadeIn"> 
          Plan
          <p>Basic, Premium</p>
         </ion-label>
         <ion-buttons slot="end">
          <ion-label color="light">Basic</ion-label> 
         </ion-buttons> 
      </ion-item> 
  
      
      <ion-item detail (click)="closeMenu()" routerLink="/home/settings/report" mode="md">   
        <ion-icon slot="start" name="chatbubble"></ion-icon>
        <ion-label class="fadeIn"> Reportar 
          <p>Fallos, Agregar mejoras</p>
        </ion-label> 
      </ion-item>
  
   
      <ion-item detail (click)="closeMenu()" >    
        <ion-icon slot="start" name="reload"></ion-icon>
        <ion-label class="fadeIn"> Resetear ajustes
          <p>Tema, Notificaciones, Pin</p>
        </ion-label> 
      </ion-item>
  
  
      <ion-item detail (click)="closeMenu()" routerLink="/home/settings/phone" mode="md">  
        <ion-icon slot="start" name="hardware-chip"></ion-icon>
        <ion-label class="fadeIn"> Mi phone
          <p>Información, versión</p>
        </ion-label> 
      </ion-item>
    </ion-list>
     
  </ion-content>
</ion-menu>



<ion-app >
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
