 
<ion-menu  type="overlay" contentId="menu" menuId="menu" color="tertiary">

  <ion-header class="ion-no-border" >

    
    <ion-toolbar >

    
      <ion-buttons  mode="md">
        <ion-button  (click)="closeMenu()" routerLink="/home/settings/lock" side="top">
          <ion-icon name="lock-closed"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-img src="../assets/icon/favicon.png" class="animIcon iconSettings" style="transform:scale(.5)" ></ion-img>
   
    </ion-toolbar>

  </ion-header>
 
  <ion-content class="animIcon">
  
 
    
    <ion-list  >

      <ion-item  > 
  
        <ion-icon slot="start"  name="moon"></ion-icon>
        <ion-label class="fadeIn"> Tema 
          <p>Dark, Light</p>
        </ion-label> 
        <ion-toggle  [checked]="checkedDark" (ionChange)="getdarks()" mode="ios" color="success"></ion-toggle>
  
      </ion-item>
  
      <ion-item  (click)="closeMenu()" routerLink="/home/notes" mode="md"> 
        <ion-badge slot="end" color="success">{{ numNotes }}</ion-badge>
        <ion-icon slot="start" name="book-outline"></ion-icon> 
        <ion-label class="fadeIn"> Notas
         <p>Todas las notas</p>
        </ion-label> 
      </ion-item>


      <ion-item  (click)="closeMenu()" routerLink="home/settings/complete" mode="md"> 
        <ion-badge slot="end" color="warning">{{ numFavs }}</ion-badge>
        <ion-icon slot="start" name="star"></ion-icon> 
        <ion-label class="fadeIn"> Favoritos
         <p>Todas las notas marcada en favorito</p>
        </ion-label> 
      </ion-item>

        
      <ion-item (click)="closeMenu()" routerLink="/home/settings/trash" mode="md"> 
        <ion-badge slot="end" color="danger">{{ numTrash }}</ion-badge>
        <ion-icon slot="start" name="trash"></ion-icon> 
        <ion-label class="fadeIn"> Papelera
         <p>Notas eliminadas</p>
        </ion-label> 
      </ion-item>

 
   
  
  
 
      <ion-item detail (click)="closeMenu()" routerLink="/home/settings" mode="md">   
      
        <ion-icon slot="start"  name="construct-outline"></ion-icon>
        <ion-label class="fadeIn"> 
           Más herramientas y opciones
          <p >Todas las opciones y herramientas disponibles </p>
         </ion-label> 
      </ion-item> 
     

    </ion-list>
     
  </ion-content>
</ion-menu>
 

<ion-app >
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
