<app-setting-header [title]="cleanImg.title"></app-setting-header>

<ion-content>

  <ion-img class="animIcon iconSettings" [src]="cleanImg.success"></ion-img>
  
  <div>
    <ion-button mode="ios" (click)="clean()" expand="block" [disabled]="cleanImg.activatedButton" color="primary">Limpiar</ion-button> 
    <br>
  </div>

  <ion-list>
    <ion-item>

      <ion-spinner mode="ios" slot="end" color="tertiary" *ngIf="cleanImg.spinner"></ion-spinner>
      <ion-label>Notas
        <p>Caché</p>
       
      </ion-label>
     
      <p *ngIf="!cleanImg.spinner" slot="end">{{ cleanImg.note}} </p>
    </ion-item>

    <ion-item>

      <ion-spinner slot="end" mode="ios" color="tertiary" *ngIf="cleanImg.spinner"></ion-spinner>
      <ion-label>Papelera
        <p>Caché</p>
      
      </ion-label>
      <p *ngIf="!cleanImg.spinner" slot="end">{{ cleanImg.trash}} </p>
  
    </ion-item>

    <ion-item>

      <ion-spinner slot="end" mode="ios" color="tertiary" *ngIf="cleanImg.spinner"></ion-spinner>
      <ion-label>Favoritos
        <p>Caché</p>
      
      </ion-label>
      <p *ngIf="!cleanImg.spinner" slot="end">{{ cleanImg.favorites}} </p>
  
    </ion-item>

    <ion-item>

      <ion-spinner slot="end" mode="ios" color="tertiary" *ngIf="cleanImg.spinner"></ion-spinner>
      <ion-label>Otras
        <p>Caché</p>
      
      </ion-label>
      <p *ngIf="!cleanImg.spinner" slot="end">{{ 0 }} </p>
  
    </ion-item>
  </ion-list>
</ion-content>
