<app-setting-header [title]="cleanImg.title"></app-setting-header>

<ion-content color="tertiary">

  <ion-img class="animIcon iconSettings" [src]="cleanImg.success"></ion-img>
  

  <div>
    <ion-button mode="ios" (click)="clean()" expand="block" [disabled]="cleanImg.activatedButton" color="light">Limpiar</ion-button> 
    <br>
  </div>

  <ion-list color="tertiary">
    <ion-item color="tertiary">

      <ion-spinner mode="ios" slot="end" color="light" *ngIf="cleanImg.spinner"></ion-spinner>
      <ion-label>Notas
        <p>Caché</p>
       
      </ion-label>
     
      <p *ngIf="!cleanImg.spinner" slot="end">{{ cleanImg.trash}} </p>
    </ion-item>

    <ion-item color="tertiary">

      <ion-spinner slot="end" mode="ios" color="light" *ngIf="cleanImg.spinner"></ion-spinner>
      <ion-label>Papelera
        <p>Caché</p>
      
      </ion-label>
      <p *ngIf="!cleanImg.spinner" slot="end">{{ cleanImg.trash}} </p>
     
       

    </ion-item>
  </ion-list>
</ion-content>
