<app-setting-header title="Papelera"  colorHeader="danger"  routing="/home/notes"></app-setting-header>

<ion-content>

  <ion-list *ngIf="show">
   
    <ion-item-sliding *ngFor="let note of completeItems  | slice:0:endValue; let pos=index;" >
      <ion-item class="addAnimation" (click)="openNote(note,pos)" detail>
        <ion-label class="noteTitle">{{ note.title }} 
          <p> <small class="noteContent">{{ note.description }} </small> </p>

          <p style="margin-top: -2px">
            <small color="medium"> {{ note.date | date}}  </small>
          </p>

        </ion-label>  
        <ion-icon [color]="note.color" slot="start" name="ellipse"></ion-icon>
        
     </ion-item>

      <ion-item-options side="end" >
        <ion-item-option color="danger" (click)="deleteItem(note,pos)">
          <ion-icon slot="icon-only"  name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

</ion-list>

<app-items-trash [show]="show"></app-items-trash>

  <ion-infinite-scroll threshold="100px" position="bottom"  (ionInfinite)="moreItem($event)" >
    <ion-infinite-scroll-content ></ion-infinite-scroll-content>
  </ion-infinite-scroll >

</ion-content>