
<ion-content>
 
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="tertiary" >


            <ion-tab-button routerLink="/home/settings/complete">
                <ion-icon name="star-half"></ion-icon>
                <ion-label >Favoritos</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="/home/notes">
                <ion-icon name="home"></ion-icon>
                <ion-label >Home</ion-label>
            </ion-tab-button>
            
            <ion-tab-button routerLink="/home/settings/trash">
                <ion-icon  name="trash"></ion-icon>
                <ion-label >Trash</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="/home/settings">
                <ion-icon  name="settings-outline"></ion-icon>
                <ion-label >Settings</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>

</ion-content>