
<ion-content>
 
    <ion-tabs>
        <ion-tab-bar slot="bottom" >


            <ion-tab-button  routerLink="/home/settings/complete">
                <ion-icon color="primary" name="star-half"></ion-icon>
                <ion-label color="primary">Favoritos</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="/home/notes">
                <ion-icon color="primary" name="home"></ion-icon>
                <ion-label color="primary">Home</ion-label>
            </ion-tab-button>
            
            <ion-tab-button routerLink="/home/settings/trash">
                <ion-icon color="primary" name="trash"></ion-icon>
                <ion-label color="primary">Trash</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="/home/settings">
                <ion-icon color="primary" name="settings-outline"></ion-icon>
                <ion-label color="primary" >Settings</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>

</ion-content>