
<ion-content>
 
    <ion-tabs  mode="ios" >
        <ion-tab-bar slot="bottom" color="tertiary">

            <ion-tab-button tab="notes" >

                <ion-badge>{{ lenNotes }}</ion-badge>
                <ion-icon name="book-outline"></ion-icon>
                <ion-label>Notas
                </ion-label>
            </ion-tab-button>

 
            <ion-tab-button >
                <ion-badge color="tertiary">{{ lenComplet }}</ion-badge>
                <ion-icon style="transform: scale(1.3);" name="add-outline"></ion-icon>
                <ion-label>Nueva</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="complete" >
                <ion-badge color="danger">{{ lenComplet }}</ion-badge>
                <ion-icon   name="trash"></ion-icon>
                <ion-label>Eliminadas</ion-label>
            </ion-tab-button>
           
<!--
            <ion-tab-button tab="settings" >
                <ion-icon name="settings-outline"></ion-icon>
                <ion-label>Ajustes</ion-label>
            </ion-tab-button>-->

        </ion-tab-bar>
    </ion-tabs>

</ion-content>