<ion-header class="ion-no-border"  mode="ios">
  <ion-toolbar >
 

    <ion-buttons slot="start" mode="md">
      <ion-button (click)="closeModalAdd()"  >Cancel</ion-button> 
    </ion-buttons>
   
  
    <ion-buttons slot="end" mode="md">
      <ion-button (click)="createNew()" >Create</ion-button> 
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>

<ion-toolbar  mode="ios"  >  

  <ion-button  color="light" (click)="openCategories()">
   
      <ion-label>Categ..</ion-label>
      <ion-select multiple="false" interface="action-sheet" value="none" [(ngModel)]="itemAdd.categorie">
        <ion-select-option color="light" *ngFor="let cat of categories" [value]="cat.name" >{{cat.name}}</ion-select-option>
      </ion-select> 
 
  </ion-button>
  <ion-button color="light" (click)="newCategorie()">
    <ion-icon name="add"></ion-icon>
  </ion-button> 

  <ion-button color="light" slot="end" (click)="openColorPalette($event)">
    <ion-label> <p>Color</p></ion-label>
    <ion-icon slot="icon-only" name="ellipse" [color]="colorPred" ></ion-icon>
  
  </ion-button>
  <ion-buttons slot="end" >
     
    
  </ion-buttons>

</ion-toolbar>

<ion-toolbar>
  <ion-input [(ngModel)]="itemAdd.title" placeholder="Title"></ion-input>
</ion-toolbar>
 
<ion-content>
  <br>
  <ion-textarea   [(ngModel)]="itemAdd.description" placeholder="Description" rows="10"></ion-textarea>
</ion-content>